mcs_systems_API/src/main/app/trains-system-apis.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"  xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
     <flow name="trains">
        <http:listener config-ref="HTTP_Listener_Configuration" doc:name="HTTP 8081 /trains/definition" path="/trains/definition" allowedMethods="GET"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Perform a query in MySQL">
            <db:dynamic-query><![CDATA[SELECT TD.TRN_NBR, TD.TRN_ID, TS.STN_NBR, SM.DIV_NAME, SM.SUBDIV_NAME FROM kcs.tactical_train_def TD
	LEFT JOIN kcs.tactical_trn_sched TS on TD.TRN_NBR = TS.TRN_NBR
    LEFT JOIN kcs.oper_stn_mstr SM on TS.STN_NBR = SM.STN_NBR;]]></db:dynamic-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    
        <flow name="train_by_id">
        <http:listener config-ref="HTTP_Listener_Configuration" doc:name="HTTP 8081 /train/definition/id/{id}" path="/train/definition/id/{id}" allowedMethods="GET"/>
        <set-variable variableName="id" value="#[message.inboundProperties['http.uri.params'].id]" doc:name="Set Variable id"/>
        <logger message="SELECT * FROM kcs.tactical_train_def where TRN_ID = '#[flowVars.id]';" level="INFO" doc:name="Logger"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Perform a query in MySQL">
            <db:dynamic-query><![CDATA[SELECT * FROM kcs.tactical_train_def where TRN_ID = '#[flowVars.id]';]]></db:dynamic-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    
 	<flow name="train_by_number">
        <http:listener config-ref="HTTP_Listener_Configuration" doc:name="HTTP 8081 /train/definition/number/{number}" path="/train/definition/number/{number}" allowedMethods="GET"/>
        <set-variable variableName="number" value="#[message.inboundProperties['http.uri.params'].number]" doc:name="Set Variable number"/>
        <logger message="SELECT * FROM kcs.tactical_train_def where TRN_NBR = '#[flowVars.number]';" level="INFO" doc:name="Logger"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Perform a query in MySQL">
            <db:dynamic-query><![CDATA[SELECT * FROM kcs.tactical_train_def where TRN_NBR = '#[flowVars.number]';]]></db:dynamic-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>